@import url("https://unpkg.com/devicons@2.0.1/css");

@page {
	size: A4;
	margin: 0;
}

:root {
	--accent-color: #b2ce17;
}

body {
	margin: 0;
	background: #eee;
}

* {
	font-size: 13px;
	line-height: 1.5;
}

.page {
	box-sizing: border-box;
	width: 210mm;
	min-height: 297mm;
	margin: 60px auto;
	padding: 42px 55px 55px 55px;
	background: #fff;
	font-family: "Readex Pro", Arial, sans-serif;
	color: #333;
	text-align: justify;
	position: relative;
	border-top: 16px solid var(--accent-color);
}

.links {
	display: flex;
	gap: 10px;
	position: absolute;
	top: 45px;
	right: 55px;
}

.description {
	padding-bottom: 10px;
	font-size: 12px;
}

@media print {
	body {
		background: #fff;
	}

	.page {
		margin: 0;
	}
}

h1 {
	margin: 0;
	padding: 0;
	font-size: 23px;
	text-transform: uppercase;
}

h2 {
	margin: 20px 0 14px;
	text-transform: uppercase;
	font-size: 14px;
	border-bottom: 2px solid var(--accent-color);
	padding-bottom: 4px;
}

h3 {
	margin: 0;
	padding: 0;
	font-size: 14px;
}

h4 {
	margin: 0 0 6px 0;
	padding: 0;
	opacity: 0.7;
}

h5 {
	margin: 4px 0;
	padding: 0;
	font-size: 15px;
	text-transform: uppercase;
	opacity: 0.6;
}

a {
	color: inherit;
}

p {
	margin: 0 0 8px;
}

table {
	width: 100%;
	border-collapse: collapse;
}

table.experience td {
	vertical-align: top;
	padding: 15px 12px 15px 0;
	border-top: 1.5px solid #e6e6e6;
}

table.experience tr:first-child td {
	padding-top: 0;
	border: 0;
}

table.experience + table.experience tr:first-child td {
	padding: 15px 12px 15px 0;
	border-top: 1.5px solid #e6e6e6;
}

table.experience td.time {
	width: 70px;
	white-space: nowrap;
	color: #999999;
}

table.skills td {
	padding: 0 10px 10px 0;
	vertical-align: middle;
}

.skill {
	display: inline-flex;
	align-items: center;
	gap: 6px;
	white-space: nowrap;
	opacity: 0.8;
}

.skill .devicons {
	font-family: "Devicons", "devicons", sans-serif;
}

.skills-list {
	display: flex;
	flex-wrap: wrap;
	gap: 6px 14px;
}

.page-break {
	page-break-after: always;
}

@media print {
	.skill .devicons {
		-webkit-print-color-adjust: exact;
		print-color-adjust: exact;
	}

	.page-break {
		break-after: page;
		page-break-after: always;
	}

	.new-page {
		margin-top: 40px;
	}
}
